# Backend Environment Variables
# Copy this file to .env and fill in your actual values

PORT=5000
MONGO_URI=mongodb+srv://bgajjar012_db_user:[bgajjar012@gmail.com]/Cluster0?retryWrites=true&w=majority&appName=Cluster0
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=318216683649418
CLOUDINARY_API_SECRET=o-VuaNtPz2Dz9pzJ5qLpIuR81YU

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
